# Hugo output
public/
resources/
.hugo_build.lock

# Editor
.vscode/

# Obsidian
.obsidian/workspace.json
content/.obsidian/workspace.json
content/docs/members/.obsidian/workspace.json

# Mac Finder
.DS_Store